// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 日本語 (日本) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_REMOTE_CONTROL DIALOGEX 0, 0, 87, 312
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "リモコン"
FONT 9, "Meiryo UI", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "↑",IDC_KEY_UP,30,6,24,24
    PUSHBUTTON      "←",IDC_KEY_LEFT,6,30,24,24
    PUSHBUTTON      "決定",IDC_KEY_ENTER,30,30,24,24
    PUSHBUTTON      "→",IDC_KEY_RIGHT,54,30,24,24
    PUSHBUTTON      "↓",IDC_KEY_DOWN,30,54,24,24
    PUSHBUTTON      "d",IDC_KEY_D,6,78,24,24
    PUSHBUTTON      "戻る",IDC_KEY_BACK,54,78,24,24
    PUSHBUTTON      "青",IDC_KEY_BLUE,6,108,18,12
    PUSHBUTTON      "赤",IDC_KEY_RED,24,108,18,12
    PUSHBUTTON      "緑",IDC_KEY_GREEN,42,108,18,12
    PUSHBUTTON      "黄",IDC_KEY_YELLOW,60,108,18,12
    LTEXT           "",IDC_STATIC_BLUE,8,121,14,2
    LTEXT           "",IDC_STATIC_RED,26,121,14,2
    LTEXT           "",IDC_STATIC_GREEN,44,121,14,2
    LTEXT           "",IDC_STATIC_YELLOW,62,121,14,2
    PUSHBUTTON      "1",IDC_KEY_1,6,126,24,24
    PUSHBUTTON      "2",IDC_KEY_2,30,126,24,24
    PUSHBUTTON      "3",IDC_KEY_3,54,126,24,24
    PUSHBUTTON      "4",IDC_KEY_4,6,150,24,24
    PUSHBUTTON      "5",IDC_KEY_5,30,150,24,24
    PUSHBUTTON      "6",IDC_KEY_6,54,150,24,24
    PUSHBUTTON      "7",IDC_KEY_7,6,174,24,24
    PUSHBUTTON      "8",IDC_KEY_8,30,174,24,24
    PUSHBUTTON      "9",IDC_KEY_9,54,174,24,24
    PUSHBUTTON      "10",IDC_KEY_10,6,198,24,24
    PUSHBUTTON      "11",IDC_KEY_11,30,198,24,24
    PUSHBUTTON      "12",IDC_KEY_12,54,198,24,24
    PUSHBUTTON      "0",IDC_KEY_0,6,222,24,24
    CONTROL         "字幕",IDC_TOGGLE_CAPTION,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,30,222,24,24
    PUSHBUTTON      "設定",IDC_KEY_SETTINGS,54,222,24,24
    PUSHBUTTON      "再読み込み",IDC_KEY_RELOAD,6,252,72,18
    PUSHBUTTON      "開発者ツール",IDC_KEY_DEVTOOL,6,270,72,18
    PUSHBUTTON      "通信機能を無効化",IDC_TOGGLE_NETWORK,6,288,72,18,NOT WS_VISIBLE
END

IDD_REMOTE_CONTROL_PANEL DIALOGEX 0, 0, 72, 300
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_CLIPSIBLINGS | WS_CAPTION
CAPTION "リモコン"
FONT 9, "Meiryo UI", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "↑",IDC_KEY_UP,24,0,24,24
    PUSHBUTTON      "←",IDC_KEY_LEFT,0,24,24,24
    PUSHBUTTON      "決定",IDC_KEY_ENTER,24,24,24,24
    PUSHBUTTON      "→",IDC_KEY_RIGHT,48,24,24,24
    PUSHBUTTON      "↓",IDC_KEY_DOWN,24,48,24,24
    PUSHBUTTON      "d",IDC_KEY_D_OR_ENABLE_PLUGIN,0,72,24,24
    PUSHBUTTON      "戻る",IDC_KEY_BACK,48,72,24,24
    PUSHBUTTON      "青",IDC_KEY_BLUE,0,102,18,12
    PUSHBUTTON      "赤",IDC_KEY_RED,18,102,18,12
    PUSHBUTTON      "緑",IDC_KEY_GREEN,36,102,18,12
    PUSHBUTTON      "黄",IDC_KEY_YELLOW,54,102,18,12
    LTEXT           "",IDC_STATIC_BLUE,2,115,14,2
    LTEXT           "",IDC_STATIC_RED,20,115,14,2
    LTEXT           "",IDC_STATIC_GREEN,38,115,14,2
    LTEXT           "",IDC_STATIC_YELLOW,56,115,14,2
    PUSHBUTTON      "1",IDC_KEY_1,0,120,24,24
    PUSHBUTTON      "2",IDC_KEY_2,24,120,24,24
    PUSHBUTTON      "3",IDC_KEY_3,48,120,24,24
    PUSHBUTTON      "4",IDC_KEY_4,0,144,24,24
    PUSHBUTTON      "5",IDC_KEY_5,24,144,24,24
    PUSHBUTTON      "6",IDC_KEY_6,48,144,24,24
    PUSHBUTTON      "7",IDC_KEY_7,0,168,24,24
    PUSHBUTTON      "8",IDC_KEY_8,24,168,24,24
    PUSHBUTTON      "9",IDC_KEY_9,48,168,24,24
    PUSHBUTTON      "10",IDC_KEY_10,0,192,24,24
    PUSHBUTTON      "11",IDC_KEY_11,24,192,24,24
    PUSHBUTTON      "12",IDC_KEY_12,48,192,24,24
    PUSHBUTTON      "0",IDC_KEY_0,0,216,24,24
    CONTROL         "字幕",IDC_TOGGLE_CAPTION,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,24,216,24,24
    PUSHBUTTON      "設定",IDC_KEY_SETTINGS,48,216,24,24
    PUSHBUTTON      "再読み込み",IDC_KEY_RELOAD,0,246,72,18
    PUSHBUTTON      "開発者ツール",IDC_KEY_DEVTOOL,0,264,72,18
    PUSHBUTTON      "通信機能を無効化",IDC_TOGGLE_NETWORK,0,282,72,18,NOT WS_VISIBLE
END

IDD_SETTING DIALOGEX 0, 0, 150, 102
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TVTDataBroadcastingWV2の設定"
FONT 9, "Meiryo UI", 400, 0, 0x80
BEGIN
    CONTROL         "プラグイン有効時にリモコンを表示しない",IDC_CHECK_DISABLE_REMOTECON,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,6,139,10
    CONTROL         "TVTest起動時にプラグインを有効にする",IDC_CHECK_AUTOENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,18,139,10
    PUSHBUTTON      "郵便番号・保存領域の設定",IDC_BUTTON_NVRAM_SETTING,6,60,96,14
    CONTROL         "音量をTVTestと連動する",IDC_CHECK_USE_TVTEST_VOLUME,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,30,139,10
    CONTROL         "数字ボタンが使わていなければTVTestに渡す",IDC_CHECK_USE_TVTEST_CHANNEL_COMMAND,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,42,139,10
    DEFPUSHBUTTON   "OK",IDOK,42,84,50,14
    PUSHBUTTON      "キャンセル",IDCANCEL,96,84,50,14
END

IDD_SETTING_NVRAM DIALOGEX 0, 0, 150, 108
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TVTDataBroadcastingWV2のNVRAM設定"
FONT 9, "Meiryo UI", 400, 0, 0x80
BEGIN
    LTEXT           "郵便番号",IDC_STATIC,6,6,48,8
    EDITTEXT        IDC_EDIT_ZIP,6,18,138,12,ES_UPPERCASE | ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    LTEXT           "地域",IDC_STATIC,6,36,48,8
    COMBOBOX        IDC_COMBO_REGION,6,48,138,30,CBS_DROPDOWNLIST | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "保存領域を全消去",IDC_BUTTON_DELETE_NVRAM,6,66,72,14
    DEFPUSHBUTTON   "OK",IDOK,42,90,50,14
    PUSHBUTTON      "キャンセル",IDCANCEL,96,90,50,14
END

IDD_INPUT DIALOGEX 0, 0, 234, 42
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "文字入力"
FONT 9, "Meiryo UI", 400, 0, 0x80
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,126,24,50,14
    PUSHBUTTON      "キャンセル",IDCANCEL,180,24,50,14
    EDITTEXT        IDC_INPUT,6,6,222,14,ES_AUTOHSCROLL
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_REMOTE_CONTROL, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 80
        TOPMARGIN, 6
        BOTTOMMARGIN, 305
    END

    IDD_REMOTE_CONTROL_PANEL, DIALOG
    BEGIN
        BOTTOMMARGIN, 285
    END

    IDD_SETTING, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 143
        TOPMARGIN, 7
        BOTTOMMARGIN, 95
    END

    IDD_SETTING_NVRAM, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 143
        TOPMARGIN, 7
        BOTTOMMARGIN, 101
    END

    IDD_INPUT, DIALOG
    BEGIN
        RIGHTMARGIN, 150
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_REMOTE_CONTROL AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_SETTING AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_REMOTE_CONTROL_PANEL AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_SETTING_NVRAM AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_INPUT AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_PLUGIN              BITMAP                  "Icon16.bmp"

#endif    // 日本語 (日本) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

